body,h1,h2,h3,p,form,ul,ol,li,dl,dt,dd{
    padding: 0;
    margin: 0;
}

body{
    background: #ffffff;
    font-size: 12px;
}

ul,ol{
    list-style-type: none;
}

#top{
    background: url("../images/admin_top_bg.gif");
}
#top h1{
    width: 150px;
    height: 80px;
    font-size: 12px;
    background: url("../images/logosmall.png");
    text-indent: -9999px;
    float: left;
}
#top ul{
    float: left;
    padding: 47px 0 0 10px;
}
#top ul li{
    float: left;
    padding: 0 0 0 5px;
}
#top ul li a{
    width: 58px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    display: block;
    background: url("../images/li_bg.png") no-repeat left bottom;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}
#top ul li a.selected{
    background-position: right bottom;
    color: #3b6ea5;
}
#top p{
    float: right;
    padding: 32px 20px 0 0;
    color: #ffffff;
}
#top p a{
    color: #ffffff;
    text-decoration: none;
}
#top p a:hover{
    text-decoration: underline;
    cursor: pointer;
}

#sidebar{
    background: #f7fbfc url("../images/sidebar_right.png") repeat-y right;
}
#sidebar dl{
    padding: 20px;
    text-indent: 2px;
}
#sidebar dl dt{
    font-size: 14px;
    color: #3b6ea5;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    padding: 5px 0;
    margin: 5px 0;
}
#sidebar dl dd{
    height: 22px;
    line-height: 22px;
}
#sidebar dl dd a{
    color: #333333;
    text-decoration: none;
}
#sidebar dl dd a:hover{
    text-decoration: underline;
}

#main div.map{
    padding: 15px;
}
#main div.map strong{
    color: green;
}
#main table{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#main table table{
    width: 100%;
    float: left;
}
#main table.cke_dialog{
    width: auto;
}
#main table.left{
    text-align: left;
}
#main table tr{
    background: #ffffff;
}
#main table tr.ckeditor td.textarea{
    width: 65%;
    margin: 0 0 0 105px;
}
#main table tr.ckeditor:hover, #main table.cke_dialog tr:hover{
    background: #ffffff;
}
#main table.cke_dialog_footer_buttons tr td.cke_dialog_ui_hbox_first{
    float: right;
}
#main table tr:hover{
    background: #ffffcc;
}
#main table th, #main table td{
    height: 30px;
    line-height: 30px;
    color: #333333;
}
#main table th{
    background: #eef3f7;
    border: 1px solid #d5dfe8;
    font-weight: normal;
}
#main table td{
    border-bottom: 1px solid #eeeeee;
}
#main table.content td{
    float: left;
    padding-left: 5px;
}
#main table.content td input.text{
    width: 440px;
}
#main table.content td select{
    width: 150px;
    height: 22px;
}
#main table.content td.textarea{
    height: auto;
    line-height: normal;
}
#main table.content td textarea{
    width: 438px;
    margin-left: 0;
    float: left;
}
#main a{
    color: #3b6ea5;
    text-decoration: none;
}
#main a:hover{
    text-decoration: underline;
}
#main p.center{
    text-align: center;
    padding: 20px;
}
#main form input.text{
    width: 222px;
    height: 19px;
    background: #ffffff;
    border: 1px solid #cccccc;
}
#main form textarea{
    font-size: 13px;
    width: 220px;
    height: 100px;
    background: #ffffff;
    border: 1px solid #cccccc;
    margin: 0 0 0 60px;
}
#main form select{
    width: 100px;
    height: 19px;
    background: #ffffff;
}
#main form input.submit{
    cursor: pointer;
    margin: 0 0 0 60px;
}
#main form input.sort{
    width: 35px;
    text-align: center;
}
#main ol{
    padding: 0 0 0 47px;
    height: 35px;
}
#main ol li{
    float: left;
    padding: 0 10px 0 0;
}
#main ol li a{
    padding: 5px;
    display: block;
}
#main ol li a:hover{
    background: #eeeeee;
}
#main ol li a.selected{
    background: #3b6ea5;
    color: #ffffff;
}
#main label:not(.cke_dialog_ui_labeled_label){
    display: inline-block;
    width: 100px;
    float: left;
    text-align: right;
    padding: 3px 5px 0 0;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
}

#adminLogin{
    width: 350px;
    margin: 100px auto;
    color: #666666;
    font-size: 14px;
}
#adminLogin fieldset{
    padding: 20px;
}
#adminLogin legend{
    font-size: 16px;
    font-weight: bold;
}
#adminLogin label{
    display: block;
    margin: 5px;

}
#adminLogin label input.text{
    width: 220px;
    height: 27px;
    border: 1px solid #666666;
    background: #eeeeee;
}
#adminLogin label.t{
    color: #999999;
    text-indent: 56px;
}
#adminLogin label img{
    margin: 0 0 0 56px;
    cursor: pointer;
}
#adminLogin input.submit{
    margin: 0 0 0 60px;
    cursor: pointer;
}


#page{
    text-align: center;
    padding: 10px;
}
#page a, #page span.me{
    border: 1px solid #666666;
    padding: 2px 7px;
    margin: 0 2px;
}
#page a:hover, #page span.me{
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #000000;
    background: #000000;
}
#page span.disabled{
    border: 1px solid #cccccc;
    padding: 2px 7px;
    margin: 0 2px;
    color: #cccccc;
}