body,h1,h2,h3,p,form,ul,li,dl,dt,dd{
    padding: 0;
    margin: 0;
}

body{
    width: 960px;
    margin: 0 auto;
    background: #fff;
    font-size: 12px;
    color: #666666;
}

ul{
    list-style-type: none;
}

h2{
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    text-indent: 10px;
    color: green;
    background: url("../images/lbg.png");
    letter-spacing: 1px;
}

#top{
    height: 26px;
    background: url("../images/top_bg.png");
    margin: 0 0 10px 0;
    text-align: right;
}
#top a{
    display: inline-block;
    padding: 5px 10px 0 0;
}

#header{
    height: 80px;
    margin: 0 0 10px 0;
}
#header h1{
    font-size: 12px;
    width: 250px;
    height: 80px;
    background: url("../images/logo.png");
    float: left;
}
#header h1 a{
    display: block;
    height: 80px;
    text-indent: -9999px;
}
#header div.hadver{
    width: 690px;
    height: 80px;
    background: red;
    float: right;
    border: 1px solid #cccccc;
}
#header div.hadver img{
    display: block;
    border: none;
}

#nav{
    height: 35px;
    background: url("../images/nav_bg.png");
    border: 1px solid #cccccc;
    border-bottom: none;
}
#nav ul{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 0 10px;
}
#nav ul li{
    display: inline;
    padding: 0 10px;
}
#nav ul li a{
    color: #336699;
    text-decoration: none;
}
#nav ul li a:hover{
    color: #ff6600;
}

#search{
    height: 25px;
    margin: 0 0 10px 0;
    border: 1px solid #cccccc;
    border-top: none;
    padding: 5px 0 0 5px;
}
#search form{
    float: left;
}
#search form input.submit{
    width: 45px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
}
#search strong{
    float: left;
    padding: 3px 0 0 15px;
}
#search ul{
    float: left;
    padding: 3px 0 0 0;
}
#search ul li{
    display: inline;
    float: left;
    padding: 0 8px 0 0;
}
#search ul li a{
    color: green;
    text-decoration: none;
}
#search ul li a:hover{
    color: #ff6600;
}

#page{
    text-align: center;
    padding: 10px;
}
#page a, #page span.me{
    border: 1px solid #666666;
    padding: 2px 7px;
    margin: 0 2px;
}
#page a:hover, #page span.me{
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #000000;
    background: #000000;
}
#page span.disabled{
    border: 1px solid #cccccc;
    padding: 2px 7px;
    margin: 0 2px;
    color: #cccccc;
}

#link{
    width: 960px;
    height: 110px;
    float: left;
    border: 1px solid #cccccc;
    margin: 0 0 10px 0;
}
#link span{
    float: right;
    font-weight: normal;
    padding: 0 10px 0 0;
}
#link span a{
    color: #336600;
    text-decoration: none;
}
#link span a:hover{
    color: #ff6600;
}
#link ul{
    padding: 5px 0 0 10px;
    border-bottom: 1px dashed #cccccc;
    width: 96%;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
}
#link ul li{
    display: inline;
    padding: 5px 5px 0 5px;
}
#link ul li a{
    color: #666666;
    text-decoration: none;
}
#link ul li a:hover{
    text-decoration: underline;
}
#link dl{
    padding: 10px 0 0 8px;
}
#link dl dd{
    float: left;
    padding: 0 8px;
}
#link dl dd img{
    border: none;
    display: block;
}

#footer{
    width: 960px;
    height: 40px;
    float: left;
}
#footer p{
    text-align: center;
    font-family: Tahoma;
    line-height: 150%;
}
#footer p span{
    color: #0066ff;
}